* text=auto  # Deja que Git maneje los finales de línea automáticamente para archivos de texto
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.txt text eol=lf
*.java text eol=crlf
*.sh text eol=lf
*.cmd text eol=crlf